body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #f1f1f1;
  letter-spacing: 0.1rem;
  font-size: 1.2em;
  display: grid;
  grid-template-columns: minmax(400px, 100%);
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./assets/table1.png");
}

.App {
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 2%;
  margin: 3%;
}

.game-start-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  padding: 2%;
  height: 90vh;
  width: 80%;
}

.title-container {
  text-align: center;
  margin-bottom: 30px;
}

.game-start-container h1 {
  color: yellow;
  font-size: 6rem;
  text-align: center;
}

.game-start-container p,
.game-start-container h2 {
  max-width: 400px;
  text-align: center;
}

.remaining {
  display: inline;
  margin-left: 1em;
}

.title {
  text-align: center;
  margin: 0.5em 0;
}

.btn {
  font-size: 1.1em;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: yellow;
  border: 0;
}

.start-game-btn {
  padding: 0.5em;
  border-radius: 20px 1px;
  width: 60%;
  max-width: 200px;
  margin-top: 3%;
}

.draw {
  bottom: 0;
  width: 300px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.1em;
  border-radius: 20px;
  padding: 0.5em;
  margin: 1em;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slot-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-slot {
  height: 119px;
  border: 1px solid black;
  width: calc(120px * 5 / 7);
  margin: 0 auto;
  order: 1;
  border-radius: 5px;
  margin-bottom: 20%;
}

.card-slot img {
  height: 120px;
}

.score-paragraph {
  margin: 0 10px;
}

.scorePC-paragraph {
  margin: -10px 10px 15px 10px;
}

.order-score {
  order: 2;
}
.startWarning {
  text-align: center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  color: yellow;
  max-width: 100px;
}

.red {
  background-color: rgba(240, 55, 55, 0.537);
}
.yellow-title {
  color: yellow;
}

@media (min-height: 550px) and (min-width: 500px) {
  body {
    font-size: 1.7em;
  }
}

@media (max-height: 700px) {
  .slot-container {
    flex-direction: row-reverse;
    margin: 20px;
  }

  .card-slot {
    margin-bottom: 0;
  }
}

@media (max-width: 400px) {
  .slot-container {
    flex-direction: column;
    margin: 10px;
  }

  .score-paragraph {
    margin: 20px;
  }
}

@media (orientation: landscape) {
  .title-container {
    margin: 0;
  }

  .draw {
    margin: 0;
  }

  .slot-container {
    margin: 3% 20px;
  }

  .start-game-btn {
    margin-top: 1%;
  }

  .game-start-container h1 {
    font-size: 2em;
  }
}
